<footer class="footer">
    <div class="container">
        <div class="footer-inner">

            <div class="footer-bottom">
                <div class="footer-legal">
                    <a href="#">Accessibility</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                    <a href="https://www.youtube.com/watch?v=x3E-53l2g0E">Been in Poughkeepsie?</a>
                </div>
                <div class="footer-social">
                    <a href="#" class="social-icon" aria-label="Twitter">
                        {{> "icons/twitter"}}
                    </a>
                    <a href="#" class="social-icon" aria-label="Instagram">
                        {{> "icons/reddit"}}
                    </a>
                    <a href="#" class="social-icon" aria-label="GitHub">
                        {{> "icons/letterboxd"}}
                    </a>
                    <a href="#" class="social-icon" aria-label="LinkedIn">
                        {{> "icons/raindrop"}}
                    </a>
                    <a href="#" class="social-icon" aria-label="LinkedIn">
                        {{> "icons/feed"}}
                    </a>
                </div>
            </div>

            <p class="copyright">© 2023 {{@site.title}}. All rights reserved.</p>
        </div>
    </div>
</footer>