b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip

# Built assets
assets/built/
*.css.map
*.js.map

# Theme package
*.zip

pids
logs
results

npm-debug.log
node_modules

.idea/*
*.iml
projectFilesBackup

.DS_Store

dist/
